.main {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.tree-wrapper {
  flex-basis: 600px;
  padding: 20px 10px;
  height: 100%;
  overflow-y: scroll;
}

.matcher-wrapper {
  flex-grow: 1;
}

.tree-wrapper, .matcher-wrapper {
  height: 100%;
}